

.container_login {
    grid-template-columns: repeat(1fr);
    height: 100vh;
}

.login_grid {
    grid-column: 1;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../media/frontend/logo.svg), url(../media/frontend/daniil-silantev-364304-unsplash.png);
    background-repeat: no-repeat;
    background-position: 40px 40px, center;
    background-attachment: fixed, scroll;
    background-size: 50px, cover;
}

.login {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
form {
    max-width: 540px;
    margin: 60px auto;
    background-color: white;
    border-radius: 5px;
    padding: 50px;
}
form h1 {
    margin-bottom: 30px;
}
form h2 {
    margin-bottom: 90px;
}
form label {
    font-weight: bold;
    display: block;
    font-size: 12px;
}
form input, textarea {
    border: 1px solid var(--grey);
    border-radius: 5px;
    padding: 15px;
    font-size: 14px;
    outline: 0;
    transition: border-color 0.7s ease;
    display: block;
    width: 90%;
}
form .btn_login {
    display: block;
    margin: 0px auto;
    width: 50%;
    background: var(--light_purple);
    border-color: var(--light_purple);
    border-radius: 100px;
    height: 60px;
    line-height: 50px;
    padding: 0 60px;
    font-size: 14px;
    font-weight: 700;
    color: #FFF;
    cursor: pointer;
    box-shadow: 0 6px var(--dark_purple);
    position: relative;

    margin: 50px auto;
}
form .btn_login:hover {
    top: 2px;
    box-shadow: 0 4px var(--dark_purple);
}
form div {
    margin: 20px 0px;
}
textarea:focus, input:focus, *:focus {
    border-color: var(--primary_blue);
    transition: border-color 0.7s ease;
}
.post img{
    width: 50px;
}
nav {
    width: 100%;
    box-shadow: 0px 0px 1px 1px #55555591;
    padding: 10px 0px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}
li>img {
    margin-left: 90px;
    margin-right: 50vw;
    width: 60px;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: 1px solid #55555500;;
}

li a:hover:not(.active) {
    border: 1px solid #111;
}

.active {
    background-color: var(--dark_purple);
    color: white;
}

<<<<<<< HEAD
.wrapper_home {
    max-width: 960px;
    display: block;
    margin: 0 auto;
}

.post-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 40px;
}
=======

>>>>>>> 7afab69b74768313cb331c6d990e8d64bf3df70d
