* {
    box-sizing: border-box;
}

.container_login {
    grid-template-columns: repeat(1fr);
    height: 100vh;
}
.container{
    margin: auto;
    width: 90%;
}
.login_grid {
    grid-column: 1;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../media/frontend/logo.svg), url(../media/frontend/daniil-silantev-364304-unsplash.png);
    background-repeat: no-repeat;
    background-position: 40px 40px, center;
    background-attachment: fixed, scroll;
    background-size: 50px, cover;
}

.login {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.home-title{
    margin: 3%;
}
h2{
    font-size: 1.5em;
    margin-bottom: 3%;
}
form {
    max-width: 540px;
    margin: 60px auto;
    background-color: white;
    border-radius: 5px;
    padding: 50px;
}
form h1 {
    margin-bottom: 30px;
}
form h2 {
    margin-bottom: 90px;
}
form label {
    font-weight: bold;
    display: block;
    font-size: 15px;
}
.form_login{
    max-width: 740px;
}
span {
    font-weight: bold;
}
form .form__input, textarea {
    border: 1px solid var(--grey);
    border-radius: 5px;
    padding: 15px;
    font-size: 14px;
    outline: 0;
    transition: border-color 0.7s ease;
    display: block;
    width: 100%;
    resize: none;
}
form .btn_style {
    display: block;
    width: 50%;
    background: var(--light_purple);
    border-color: var(--light_purple);
    border-radius: 100px;
    height: 60px;
    line-height: 50px;
    padding: 0 60px;
    font-size: 14px;
    font-weight: 700;
    color: #FFF;
    cursor: pointer;
    box-shadow: 0 6px var(--dark_purple);
    position: relative;

    margin: 50px auto;
}
form .btn_style:hover {
    top: 2px;
    box-shadow: 0 4px var(--dark_purple);
}
form div {
    margin: 2% 0px;
}
textarea:focus, input:focus, *:focus {
    border-color: var(--primary_blue);
    transition: border-color 0.7s ease;
}
nav {
    width: 100%;
    border-bottom: solid 1px #E8E8E8;
    padding: 30px 0px;
}
ul {
    display: grid;
    grid-template-columns: 10% 40% 50%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.links {
    display: flex;
    align-items: center;
    justify-content: center;
}
.delete {
    margin: 0px auto;
    padding: 0px;
}
.formdelete {
    margin: 70px auto;
    padding: 0px;
}
li>img {
    display: block;
    margin: 0 auto;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: 1px solid #55555500;;
}

li a:hover:not(.active) {
    border: 1px solid #111;
}

.active {
    background-color: var(--dark_purple);
    color: white;
}
.nav_search {
    width: 80%;
    margin: 0 auto;
    display: flex;
    padding: 0px;
}


/* POST CSS */
.post_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    margin: 0 3%;
}
.post {
    border-radius: 0.5em;
    border: 1px solid #d6d6d6;
    background-color: #fff;
    padding: 1em;
}
.post_form {
    background-color: transparent;
    margin: 0px;
    padding: 0px;
}

.post img{
    width: 100%;
}
.post__picture {
    margin: 3% 0% 1% 0%;
}
.post__desc{
    margin: 3% 0% 8% 0%;
}
.post__details{
    line-height: 1.3;
    font-size: 0.8em;
    margin-right: 2%;
}
.post__detail_grid{
    display: flex;
    flex-direction: row;

}
.post__link{
    font-size: 0.9em;
    text-decoration: none;
    background: none;
    border: none;
    color: dimgray;
}
.post__link:hover{
    color: black;
    cursor: pointer;
}
.post__detail_top_grid{
    display: flex;
    flex-direction: row;
}

.btn_post{
    width: 100%;
    border: none;
    background-color: #7D0DFF;
    border-radius: 2.5em;
    padding: 0.5em 0em;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    margin: 1.5% 0%;
}
.btn_comment{
    width: 50%;
}
.btn_loadmore{
    width: 30%;
    display: block;
    margin: 50px auto;
}

.comment-container h2 {
    margin-bottom: 20px;
}
.btn_comment{
    border: 1px solid var(--grey);
    border-radius: 5px;
    padding: 15px;
    font-size: 14px;
    outline: 0;
    transition: border-color 0.7s ease;
    display: block;
    width: 30%;
    margin-top: 10px;
}
.hidden{
    display: none;
}
.btn_search{
    width: 30%;
    border-radius: 5px;
    padding: 0px 0px;
    margin: 0px 5%;
    font-size: 14px;
}

.post__like{
    text-decoration: none;
    color: black;
    border: 1px solid var(--primary_orange);
    width: 40%;
    height: 40px;
    border-radius: 20px;
    margin: 10px 0px;
    transition: 0.3s;
    outline: 0;
}
.post__like:hover {
    background: var(--primary_orange);
    color: white;
    transition: 0.3s;
    cursor: pointer;
}
input[type="button"]{
    outline:none;
}
input[type="button"]::-moz-focus-inner {
    border: 0;
}
.form__like {
    max-width: 540px;
    margin: 10px auto;
    padding: 0px;
}
.img_like{
    max-width: 17px;
    align-self: center;
    cursor: pointer;
    margin-right: 1.5%;
}
.like{
    margin: 3% 0%;
    display: flex;
    flex-direction: row;
}
.tag-container{
    display: flex;
    flex-direction: row;
    margin: 1em 0% 0.3em 0%;
}
.tag{
    background-color: #E8E8E8;
    border-radius: 0.3em;
    margin: 0% 0.2em;
    padding: 0.5em;
    font-size: 0.8em;
}
#preview {
    border: 1px solid var(--grey);
    border-radius: 5px;
    padding: 15px;
    font-size: 14px;
    outline: 0;
    transition: border-color 0.7s ease;
    width: 100%;
    resize: none;
    margin: 20px auto;
    display: none;
}
.flex {
    display: flex;
    flex-direction: row;
}
.colordiv  {
    justify-content: space-evenly;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 20%;
}
.colortext{
    font-size: 0.8em;
    color: grey;
    font-style: italic;
}


/* MEDIA QUERIES */
@media screen and (min-width: 1700px) {
    .post_container{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media screen and (max-width: 1300px) {
    .post_container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 982px) {
    ul {
        grid-template-columns: 20% 70%;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 10px;
    }
    .links {
        grid-row-start: 2;
        grid-column-start: 2;
    }
}
@media screen and (max-width: 966px) {
    .post_container{
        grid-template-columns: repeat(1, 1fr);
    }
    form {
        max-width: 100%;
    }
    form .btn_style {
        width: 100%;
    }
}

@media screen and (max-width: 826px) {
    .logo {
        display: none;
    }
    ul {
        grid-template-columns: 100%;
        grid-template-rows: 1fr;
    }
    .links {
        grid-row-start: 2;
        grid-column-start: 1;
    }
}
@media screen and (max-width: 600px) {
    .nav_search {
        width: 95%;
    }
}
@media screen and (max-width: 500px) {
    body {
        font-size: 0.8em;
    }
}
@media screen and (max-width: 400px) {
    body {
        font-size: 0.6em;
    }
}